#sidebar
  column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  text-align: right
  @extend $block-caption
  font-size: 11px

.widget
  color: color-sidebar-text
  text-align: right
  padding: 15px 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc